:root{
   --logo-web-color: #2196F3;
   --footer-background-color: rgba(47, 48, 58, 1)
   
}

/* body */
body {
    font-family: 'Robota', 'Raleway' ;
    font-style: normal;
    color: #212121;
    font-size: 14px;
    letter-spacing: 0,03;
    background-color: #FFFFFF;
}

/* logo */
.logo-web {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-web-color);
    text-decoration: none;
    }
.logo-studio {
    color: #212121;
    text-decoration: none;
}
.logo-web:hover, .logo-web:focus{
   color: var(--logo-web-color);
}
.logo-studio:hover, .logo-studio:focus {
   color: var(--logo-web-color);
}


/* menu-nav */
.nav-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: white;
}
.nav-link {
    color: #000000;
    text-decoration: none;
}
 .nav-link:hover, .nav-link:focus {
    color:#2196F3;
 }
 .current {
   color: #2196F3;
 }
 .header-contact-items {
    color: white;
 }
 .header-contact-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
 }
 .header-contact-link:hover, .header-contact-link:focus {
    color:var(--logo-web-color);
 }
 /* first-block */
 .first-block {
    background-color: var(--footer-background-color)
 }
 .first-block-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
 }
 .take-to-work {  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
 }
 .btn:hover, .btn:focus {
    background-color: #188ce8;
    color: #FFFFFF; 
 }
  .btn {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 26px;
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121;

 }
  /* credo-block */
 .credo-list {
   display: flex;
 }
  .credo-items {
   color: #FFFFFF
  }
 .credo-names {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
 }
 .credo-items>p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(117, 117, 117, 1);
 }

 .credo-block {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
 }
 /* what-we-do-block */
 .what-we-do-list {
   display: flex;
 }
 .what-we-do-items {
   color: #FFFFFF;
 }
 .what-we-do-block>img {
    width: 370px;
    height: 294px;
 }
 .title-h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
 }
 /* team-block */
 .team-block {
   background: #F5F4FA;
 }
 .team-list {
   display: flex;
 } 
 .team-items {
   color: #F5F4FA;
 }
 .team-name {
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   /* identical to box height */

   text-align: center;
   letter-spacing: 0.03em;

   color: #212121;
 }
 .team-position {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   letter-spacing: 0.03em;
   color: #757575;
 }
 /* fotter */
 footer {
    background-color: #2F303A;
 }
 .address-items {
   color: #2F303A;
 }
 .address-map {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
 }
 .address-mail, .address-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
 }
 .address-map:hover {
   color:  #2196F3;
 }
 .address-map:focus {
   color:  #2196F3;
 }
.address-mail:hover {
   color:  #2196F3;
}
.address-mail:focus {
   color:  #2196F3;
}
.address-tel:hover {
   color:  #2196F3;
}
.address-tel:focus {
   color:  #2196F3;
}
/* portfolio */
.portfolio-fillter {
   display: flex;
}
.fillter-items, .portfolio-item {
   color: #FFFFFF;
}
.portfolio-photo {
   width: 370px;
   height: 294px;
}
.portfolio-h2 {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 36px;
   letter-spacing: 0.06em;
   color: #212121;
}
.portfolio-p {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   letter-spacing: 0.03em;
   color: #757575;
}