/* body */
body {
    font-family: 'Robot', 'sans-serif';
    font-style: normal;
    color: #000000;
}

/* logo */
.logo-web {
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0.03em;
    color: #2196F3;
   text-decoration: none;
    }
.logo-studio {
    color: #212121;
    text-decoration: none;
}
.logo-web:hover, .logo-web:focus {
   text-decoration: underline #2196F3;
}

/* menu-nav */
.nav-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: white;
}
.nav-link {
    color: #000000;
    text-decoration: none;
}
 .nav-link:hover, .nav-link:focus {
    color:#2196F3;
    text-decoration: underline #2196F3;
    
 }
 .header-contact-items {
    color: white;
 }
 .header-contact-link {
    color: #757575;
    text-decoration: none;
 }
 .header-contact-link:hover, .header-contact-link:focus {
    color: #2196F3;
    text-decoration: underline #2196F3;
 }
 /* first-block */
 .first-block {
    background-color:rgba(47, 48, 58, 1);
 }
 .first-block-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
 }
 .first-block .btn {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
 }
 .btn:hover, .btn:focus {
    background-color: #188ce8;
    color: #FFFFF; 
 }
  .btn {
   font-weight: 700;
   font-size: 16px;
   line-height: 30px;
   color: #000000;
   background: #F5F4FA;
   border-radius: 4px;
 }
 .btn:hover {
   background: #2196F3;
 }
 /* credo-block */
 h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
 }
 .credo-block>p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
 }

 .credo-block {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
 }
 /* what-we-do-block */
 .what-we-do-block>img {
    width: 370px;
    height: 294px;
 }
 .title-h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
 }
 /* team-block */
  .team-items>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #757575;
 }
 /* fotter */
 footer {
    background-color: #2F303A;
 }
 .address-items {
   color: #2F303A;
 }
 .address-map {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
 }
 .address-mail, .address-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
 }
 .address-map:hover {
   text-decoration: underline #2196F3;
 }
 .address-map:focus {
   text-decoration: underline #2196F3;
 }
.address-mail:hover {
   text-decoration: underline #2196F3;
}
.address-mail:focus {
   text-decoration: underline #2196F3;
}
.address-tel:hover {
   text-decoration: underline #2196F3;
}
.address-tel:focus {
   text-decoration: underline #2196F3;
}
/* portfolio */
.fillter-items {
   color: #FFFFFF;
}